<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.common.dev.js"></script>
  <title>Document</title>
  <style>
    .red{
      color: red
    }
    [v-cloak]{
        display: none
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- <div v-show="isSure">潇湘阁</div>
    <div>大翔哥</div> -->

    <!-- <div class="item" v-for="item in people" :key="index">
      <p>{{item.name}}-{{item.age}}</p>
    </div> -->

    <!-- <div class="msg">
      <span>{{message}}</span><br>
      <span v-text="message"></span><br>
      <span v-html="newMessage"></span>
    </div> -->

    <!-- <div class="count">
      <p>{{count}}</p>
      <button v-on:click="add">+</button>
      <button @click="reduce">-</button>
    </div> -->

    <!-- <div class="model">
        <p>{{message}}</p>
        <p>
            v-model:
            <input type="text" v-model="message"/>
        </p>
    </div> -->

    <!-- <div class="pic">
        <img :src="imgSrc" alt="">
    </div> -->

    <!-- <div @click="switchColor"  v-bind:class="{red: isRed}" >腼腆</div> -->

    <!-- <div v-pre=>{{message}}</div>  阻止{{message}}被vue编译 变成html元素-->
    <!-- <div v-cloak>{{message}}</div>    v-cloak配合css,可以让加上v-cloak的最后渲染-->  
    <!-- <div v-once>helloworld</div>  一经渲染以后,就变成静态资源,不再被改变 -->
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        className1: 'active',
        className2: 'wrapper',
        message: 'Hello World',
        newMessage: '<h2>Hello Vue!</h2>',
        imgSrc: 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3175817165,3695705756&fm=26&gp=0.jpg',
        isSure: false,
        isRed: false,
        list: ['a', 'b', 'c', 'd'],
        people: [
          { name: '祥祥', age: 18 },
          { name: '浩楠', age: 19 },
          { name: '元隆', age: 20 },
        ],
        count: 0
      },
      methods: {
        add() {
          // console.log('add');
          this.count++
        },
        reduce() {
          this.count--
        },
        switchColor() {
          this.isRed = !this.isRed
        }
      },
      
      beforeCreate() {
        console.log('beforeCreate');
      },
      created() {
        console.log('created');
      },
      beforeMount() {
        console.log('beforeMount');
      },
      mounted() {
        console.log('mounted');
      },
      beforeUpdate() {
        console.log('beforeUpdate');
      },
      updated() {
        console.log('updated');
      },
      beforeDestroy() {
        console.log('beforeDistroy');
      },
      destroyed() {
        console.log('distroyed');
      }
    })
  </script>
</body>
</html>